.container {
  width: 80vw;
  max-width: 1000px;
  margin: 150px auto;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #eee;
}

/* keyframes keyword, animation name */
@keyframes ANIMATION-NAME {
  /* description of the animation */
  0% {
    /* the beginning state of the animation */
    background-color: red;
  }
  50% {
    /* the mid-point of the animation */
    /* you can have as many mid-points as you want,
       at whatever percentages you want. */
    background-color: purple;
  }
  100% {
    /* the endpoint of the animation */
    background-color: green;
  }
}